# CMake/Intellij
CMakeLists.txt
cmake-build*
.idea

# Vim
*~
*.swp

# Build artifacts
packer/obj/
loader/out/
testing/out
packer/kiteshield
loader/include/obfuscated_strings.h

# Packed binaries
*.ks

